extends layout

block content
    
  div#wild
    div.wild-row.top
      div.tbl
        div.row
          span.border= row.plan1_1
          span.border= row.plan1_2
          span.border= row.plan1_3
        div.row
          span.border= row.plan1_8
          span.border.idea= row.idea1
          span.border= row.plan1_4
        div.row
          span.border= row.plan1_7
          span.border= row.plan1_6
          span#top-left-arrow.border= row.plan1_5
      
      div.tbl
        div.row
          span.border=row.plan2_1
          span.border=row.plan2_2
          span.border=row.plan2_3
        div.row
          span.border=row.plan2_8
          span.border.idea=row.idea2
          span.border=row.plan2_4
        div.row
          span.border=row.plan2_7
          span#top-arrow.border=row.plan2_6
          span.border=row.plan2_5

      div.tbl
        div.row
          span.border=row.plan3_1
          span.border=row.plan3_2
          span.border=row.plan3_3
        div.row
          span.border=row.plan3_8
          span.border.idea=row.idea3
          span.border=row.plan3_4
        div.row
          span#top-right-arrow.border=row.plan3_7
          span.border=row.plan3_6
          span.border=row.plan3_5

    div.wild-row.middle
      div.tbl
        div.row
          span.border=row.plan8_1
          span.border=row.plan8_2
          span.border=row.plan8_3
        div.row
          span.border=row.plan8_1
          span.border.idea=row.idea8
          span#left-arrow.border=row.plan8_4
        div.row
          span.border=row.plan8_7
          span.border=row.plan8_6
          span.border=row.plan8_5
      
      div.tbl
        div.row
          span.border.idea=row.idea1
          span.border.idea=row.idea2
          span.border.idea=row.idea3
        div.row
          span.border.idea=row.idea8
          span.border.target=row.target
          span.border.idea=row.idea4
        div.row
          span.border.idea=row.idea7
          span.border.idea=row.idea6
          span.border.idea=row.idea5

      div.tbl
        div.row
          span.border=row.plan4_1
          span.border=row.plan4_2
          span.border=row.plan4_3
        div.row
          span#right-arrow.border=row.plan4_8
          span.border.idea=row.idea4
          span.border=row.plan4_4
        div.row
          span.border=row.plan4_7
          span.border=row.plan4_6
          span.border=row.plan4_5

    div.wild-row.bottom
      div.tbl
        div.row
          span.border=row.plan7_1
          span.border=row.plan7_2
          span#bottom-left-arrow.border=row.plan7_3
        div.row
          span.border=row.plan7_8
          span.border.idea=row.idea7
          span.border=row.plan7_4
        div.row
          span.border=row.plan7_7
          span.border=row.plan7_6
          span.border=row.plan7_5
      
      div.tbl
        div.row
          span.border=row.plan6_1
          span#bottom-arrow.border=row.plan6_2
          span.border=row.plan6_3
        div.row
          span.border=row.plan6_8
          span.border.idea=row.idea6
          span.border=row.plan6_4
        div.row
          span.border=row.plan6_7
          span.border=row.plan6_6
          span.border=row.plan6_5

      div.tbl
        div.row
          span#bottom-right-arrow.border=row.plan5_1
          span.border=row.plan5_2
          span.border=row.plan5_3
        div.row
          span.border=row.plan5_8
          span.border.idea=row.idea5
          span.border=row.plan5_4
        div.row
          span.border=row.plan5_7
          span.border=row.plan5_6
          span.border=row.plan5_5

    -const id = row .obj_id
    a#modify.btn(href='/objective/'+ id +'/modify') 수정
