extends layout

block content
    
        div#wrap
            div.col
                div.subject
                    span.tables
                        table.tbl
                            tr
                                td 
                                  lable= row.obj1_1
                                td
                                  lable= row.obj1_2
                                td
                                  lable= row.obj1_3
                            tr
                                td 
                                  lable= row.obj1_4
                                td
                                  lable= row.obj1_subject
                                td
                                  lable= row.obj1_5
                            tr
                                td 
                                  lable= row.obj1_6
                                td
                                  lable= row.obj1_7
                                td
                                  lable= row.obj1_8
        -const planId= row.id
        div
          button
            a(href='/') 새 plan
          button
            a(href='/objective/'+planId+'/modify') 수정하기
          
        
